html,
        body {
            height: 100%;
        }
        /* Navigation*/

        .navbar {
            background-color: transparent;
        }

/*        .top-nav-collapse {
            background-color: #4285F4;
        }*/

/*
        @media only screen and (max-width: 768px) {
            .navbar {
                background-color: #4285F4;
            }
        }
*/        /* Carousel*/

        .carousel {
            height: 50%;
        }

        @media (max-width: 776px) {
            .carousel {
                height: 100%;
            }
        }

        .carousel-item,
        .active {
            height: 100%;
        }

        .carousel-inner {
            height: 100%;
        }

        .carousel-item:nth-child(1) {
            background-image: url("../img/bike-large.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 30% 70%;
            opacity: 0.4;
        }
/*url("http://mdbootstrap.com/images/slides/slide%20(6).jpg");*/
        .carousel-item:nth-child(2) {
            background-image: url("http://mdbootstrap.com/images/slides/slide%20(11).jpg");
            background-repeat: no-repeat;
            background-size: cover;
        }

        .carousel-item:nth-child(3) {
            background-image: url("http://mdbootstrap.com/images/slides/slide%20(7).jpg");
            background-repeat: no-repeat;
            background-size: cover;
        }
        /*Caption*/

        .flex-center {
            color: #fff;
        }

        .shadow-bold{
            font-weight: 900;
            text-shadow: 5px 7px 8px #000;
        }